body {
    font-family: monospace, lucida sans-serif; 
    font-size: 25px; 
    background-color: rgb(44, 44, 44); 
    background-image: url("");
    color: rgb(234, 234, 234);
    margin-left: 150px; 
    margin-right: 150px;
    
}

@keyframes color-change {
        0% {
          color:  rgb(234, 234, 234);
        }
      
        50% {
          color:  rgb(44, 44, 44);
        }
        100% {
            color: rgb(234, 234, 234);
        }
    }
    
    h2:hover {
        animation: color-change 2s infinite;
    }


    
h1 {
    color: #e2e2e2; 
    font-size: 35px;
    font-family: monospace, 'Lucida Sans Unicode';
    font-weight: bold;
}

h2 {
    margin-left: 300px;
    margin-right: 300px;
}

p {
    border: 7px solid rgb(35, 35, 35);
    border-radius: 13px;
    text-align: center;
}

#ebott {

    border: 8px solid rgb(234, 234, 234);
    border-radius: 13px;

}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

.animasyon-ok {
    animation: move-right 2s ease-in-out infinite;
}

.konteynır {
    display: flex;
    align-items: center; 
    gap: 60px; 
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(234, 234, 234); 
    color: black; 
    border-radius: 15px; 
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(201, 201, 201);
}
